@import url(root.css);
@import url(fonts.css);

main h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

section img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.blur-load {
  background-size: cover;
  background-position: center;
}


.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}

.landing-page-title {
  font-size: 6.25rem;
  text-align: center;
  font-weight: 900;
  width: min-content;
}

.landing-page-desc {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  line-height: 30px;
  width: 45ch;
  margin-top: 50px;
}

.homepage-banner {
  min-width: 100%;
  min-height: 100%;
}

/* Landing Page 2nd Section CSS */

.background-img, .highlights-img, .travel-img, .last-section-img {
  max-width: 505px;
}

.under-landing {
  width: 100vw;
  min-height: 100vh;
  padding: 10.75rem 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  flex: 1 1 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.p-desc {
  width: 30ch;
  font-size: 1.375rem;
  font-weight: 300;
}

.first-section {
  background-color: #e87070;
}

.first-section-button {
  background-color: #faf4f4;
  color: #e87070;
}

.second-section-title,
.second-section-desc {
  color: #e87070;
}

.second-section-button {
  background-color: #292732;
  color: #faf4f4;
}

.third-section {
  background-color: #292732;
}

.third-section-title,
.third-section-desc {
  color: #faf4f4;
}

.third-section-button {
  background-color: #e87070;
  color: #292732;
}

/* Last Section css */
.last-section {
  margin-top: 300px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #ffc753;
  width: 100%;
  max-width: 1080px;
  min-height: 715px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 55px;
  position: relative;
}

.last-section-img {
  position: absolute;
  top: -200px;
}

.last-section-title {
  font-size: 6.25rem;
}

.website-word {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.last-desc {
  font-size: 1.375rem;
  font-weight: 300;
}

.meet-button {
  background-color: #292732;
  color: #faf4f4;
  border: 3px solid #faf4f4;
}
