@import url(root.css);
@import url(fonts.css);

main h2 {
  font-size: clamp(32px, 2.5vw, 48px);;
  font-weight: 900;
}

section img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

/* .banner-img {
  padding: 1rem;
} */

.landing-page,
.under-landing,
.content,
.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page {
  gap: var(--px20-font-paragraph);
  margin-bottom: 7.5rem;
  width: 70vw;
}

.landing-page-title {
  font-size: clamp(4.375rem, 6.25vw, 7.5rem);
  text-align: center;
  font-weight: 900;
  width: min-content;
}

.landing-page-desc {
  text-align: center;
  line-height: 1.875rem;
  width: 45ch;
  margin-bottom: 60px;
}

.homepage-banner {
  min-width: 300px;
  width: 100%;
  max-width: 1000px;
}

/* Landing Page 2nd Section CSS */

.background-img,
.highlights-img,
.travel-img,
.last-section-img {
  max-width: 505px;
  min-width: 300px;
}

.under-landing {
  flex-direction: row;
  width: 100vw;
  gap: 100px;
  padding: 10.75rem 6.25rem;
  flex-wrap: wrap-reverse;
}

.second-section {
  flex-wrap: wrap;
}

.part {
  flex: 1 1 300px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  align-items: flex-start;
  gap: 1.25rem;
}

.p-desc {
  min-width: 30ch;
  max-width: 75ch;
}

.first-section-button,
.second-section-title,
.second-section-desc {
  color: var(--red-kaamulan-bg);
}

.first-section,
.third-section-button {
  background-color: var(--red-kaamulan-bg);
}

.first-section-button {
  background-color: var(--white-kaamulan-bg);
}

.second-section-button,
.third-section,
.meet-button {
  background-color: var(--black-kaamulan-bg);
}


.second-section-button,
.third-section-title,
.third-section-desc,
.meet-button {
  color: var(--white-kaamulan-bg);
}

.third-section-button {
  color: #292732;
}

/* Last Section css */
.last-section {
  margin-top: 18.75rem;
  padding-top: 3.125rem;
  background-color: var(--yellow-kaamulan-bg);
  width: 100%;
  max-width: 1080px;
  min-height: 715px;
  text-align: center;
  gap: 1.25rem;
  border-radius: 3.4375rem;
  position: relative;
}

.last-section-img {
  position: absolute;
  top: -200px;
}

.last-section-title {
  font-size: clamp(4.375rem, 6.25vw, 7.5rem);
}

.website-word {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--black-kaamulan-bg);
}

.meet-button {
  border: 3px solid var(--white-kaamulan-bg);
}

.last-desc {
text-align: center;}