@import url(root.css);
@import url(fonts.css);

main h2 {
  font-size: clamp(32px, 2.5vw, 48px);;
  font-weight: 900;
}

section img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.landing-page,
.under-landing,
.max-size,
.content,
.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page {
  gap: var(--px20-font-paragraph);
  margin-bottom: 7.5rem;
  width: 70vw;
}

.landing-page-title {
  font-size: clamp(3rem, 6.25vw, 7.5rem);
  text-align: center;
  font-weight: 900;
  width: min-content;
}

.landing-page-desc {
  text-align: center;
  line-height: 1.875rem;
  max-width: 45ch;
  margin-bottom: 60px;
}

.homepage-banner {
  min-width: 300px;
  width: 100%;
  max-width: 1000px;
}

/* Landing Page 2nd Section CSS */

.part img,
.last-section-img {
  min-width: 200px;
  max-width: 505px;
  width: 100%;
}

.under-landing {
  width: 100vw;
  aspect-ratio: 16/9;
  padding-block: clamp(1rem , 10vh, 7rem);
  padding-inline: clamp(1rem , 10vw, 11rem);
}

.max-size{
  flex-direction: row;
  flex-wrap: wrap-reverse;
  max-width: 1500px;
  gap: 100px;
}

.part {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  flex-wrap: wrap;
}

.content {
  align-items: flex-start;
  gap: 1.25rem;
}

.p-desc {
  padding-right: clamp(0.3125rem, 10vw, 8rem);
  width: 100%;
  margin-bottom: 40px;
}

.first-section-button,
.second-section-title,
.second-section-desc {
  color: var(--red-kaamulan-bg);
}

.first-section,
.third-section-button {
  background-color: var(--red-kaamulan-bg);
}

.first-section-button {
  background-color: var(--white-kaamulan-bg);
}

.second-section-button,
.third-section,
.meet-button {
  background-color: var(--black-kaamulan-bg);
}


.second-section-button,
.third-section-title,
.third-section-desc,
.meet-button {
  color: var(--white-kaamulan-bg);
}

.third-section-button {
  color: #292732;
}

/* Last Section css */
.last-section {
  margin-top: clamp(8rem ,20vw, 18.75rem);
  background-color: var(--yellow-kaamulan-bg);
  width: 100%;
  padding-block: clamp(6rem ,10vw, 10rem);
  max-width: 1080px;
  text-align: center;
  gap: 1.25rem;
  border-radius: clamp(1rem, 3.4375vw, 4.125rem);
  position: relative;
}

.absolute-div {
  width: 50%;
  max-width: 505px;
  height: 300px;
  position: absolute;
  top: -200px;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.last-section-title {
  font-size: clamp(3rem, 6.25vw, 7.5rem);
}

.website-word {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--black-kaamulan-bg);
}

.meet-button {
  border: 3px solid var(--white-kaamulan-bg);
}

.last-desc-p {
  margin-bottom: 40px;
  padding-inline: 4em;
  max-width: 54ch;
  text-align: center;
}