@import url(root.css);
@import url(fonts.css);

main {
  gap: 80px;
}

main img {  
  width: 100%;
  margin-block: 20px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

main section p {
  font-size: 1.25rem;
  font-weight: 300;
  min-width: 65ch;
  max-width: 70ch;
}

.section1 {
  margin-top: 20px;
}

.title-section {
  gap: 50px;
}

.bg-title {
  font-size: 3.4375rem;
  font-weight: 900;
}

.title-desc {
  border-left: 10px solid var(--yellow-kaamulan-bg);
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.content-title {
  font-size: 2.1875rem;
  font-weight: 700;
}
