@import url(root.css);
@import url(fonts.css);

main {
  padding-inline: 30px;
  gap: 5rem;
  align-items: flex-start;
}

main img {  
  width: 90%;
  margin-block: var(--px20-font-paragraph);
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--px35-font-2nd-title);
}

main section p {
  font-weight: 300;
  max-width: 70ch;
}

.section1 {
  margin-top: var(--px20-font-paragraph);
}

.title-section {
  gap: var(--px55-font-main-title);
}

.bg-title {
  font-size: var(--px55-font-main-title);
  font-weight: 900;
}

.title-desc {
  border-left: 10px solid var(--yellow-kaamulan-bg);
  padding-left: 0.625rem;
  color: rgba(0, 0, 0, 0.4);
}

.content-title {
  font-size: var(--px35-font-2nd-title);
  font-weight: 700;
}
