@import url(root.css);
@import url(fonts.css);

article {
  gap: 100px;
  padding-inline: 30px;
}

main section,
main section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main section {
  gap: var(--px55-font-main-title);
}

main section p {
  font-size: var(--px20-font-paragraph);
  font-weight: 300;
  max-width: 70ch;
  padding-left: 3em;
}

.tips-section {
  margin-bottom: var(--px35-font-2nd-title);
}

.title-section {
  font-size: var(--px55-font-main-title);
  font-weight: 900;
  margin-bottom: 5rem;
}

.title-desc,
.do-dont-div p {
  color: rgba(0, 0, 0, 0.4);
  padding: 0;
  padding-left: 0.625rem;
  border-left: 10px solid var(--yellow-kaamulan-bg);
}

.desc-title {
  font-size: var(--px20-font-paragraph);
  font-weight: 500;
  margin-bottom: 1em;
}

.do-dont-title {
  font-size: var(--px55-font-main-title);
  font-weight: 700;
  max-width: 20ch;
  margin-bottom: 5rem;
}

.do-donts {
  margin-top: var(--px35-font-2nd-title);
  font-size: var(--px35-font-2nd-title);
  font-weight: 500;
  border-bottom: 10px solid #c90d25;
}

.conclusion-section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conclusion-title {
  font-size: var(--px55-font-main-title);
  font-weight: 700;
  max-width: 20ch;
  /* margin-bottom: 0px; */
}

.conclusion-section p {
  text-align: justify;
  padding: 0;
  max-width: 75ch;
}
