@import url(root.css);
@import url(fonts.css);

main {
  gap: 3.75rem;
}

.title-section, .small-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-section {
  gap: var(--px20-font-paragraph);
}

.title {
  font-size: var(--px55-font-main-title);
  font-weight: 900;
}

.description {
  font-size: var(--px20-font-paragraph);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Profile Pictures with details in GRID */
.profile-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.profile-container {
  width: 25vw;
  aspect-ratio: 1/1.2;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 1.5rem;
  padding-bottom: 1.25rem;
}

.profile-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  object-fit: cover;
  object-position: top;
  width: 100%;
  min-height: 60%;
  height: 70%;
  max-height: 80%;
}

.name-icon {
  padding-inline: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.5625rem;
  font-weight: 500;
}

.fb-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.details {
  padding-inline: 1.25rem;
  font-size: var(--px20-font-paragraph);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.small-desc {
  margin-top: 2.5rem;
  gap: 3.125rem;
  font-size: 1.25rem;
  font-weight: 300;
  min-width: 60ch;
  max-width: 65ch;
}
