@import url(root.css);
@import url(fonts.css);

main {
  gap: 60px;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 3.4375rem;
  font-weight: 900;
}

.description {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Profile Pictures with details in GRID */
.profile-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.profile-container {
  width: 25vw;
  min-height: 55vh;
  height: 65vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 1.5rem;
  padding-bottom: 20px;
}

.profile-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  min-height: 60%;
  height: 70%;
  max-height: 80%;
}

.name-icon {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.5625rem;
  font-weight: 500;
}

.fb-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.details {
  padding-inline: 20px;
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.small-desc {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 1.25rem;
  font-weight: 300;
  min-width: 60ch;
  max-width: 65ch;
}
