*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.scroll-watcher {
  height: 6px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: grey;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll linear;
  animation-timeline: scroll();
}

@keyframes scroll {
  to  { scale: 1 1;}
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: "Roboto";
  background-color: #f7f4f4;
  scroll-behavior: smooth;
}

body {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

main,
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 40px;
  max-width: fit-content;
  padding: 0.75em 1.5em;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;
}

button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc753; 
  transition: transform 0.3s;
  z-index: -1;
}

button:hover::before {
  transform: translateY(-100%); 
}

button:hover {
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 2.1875rem;
}

.up-arrow, .down-arrow {
  z-index: 999;
  width: 80px;
  object-fit: cover;
  object-position: center;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
}

.up-arrow {
  right: 20px;
}

.block-span {
  display: block;
}

.down-arrow {
  left: 20px;
  transform: rotateX(180deg);
}
