header {
  position: fixed;
  top: 10px;
  z-index: 999;
}

nav ul {
  background-color: white;
  height: 60px;
  width: 50vw;
  border-radius: 48px;
  box-shadow: 0 5px 5px rgba(10, 10, 10, 0.3);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

nav ul li a {
  border-radius: 30px;
  padding: 0.8em 1.4em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Adjust to center horizontally */
  width: 0;
  height: 5px;
  background-color: #E87070; /* Red with transparency */
  transition: width 0.15s ease-in; /* Smooth transition for width and left */
  z-index: -1; /* Ensure the overlay is below the text */
}

nav ul li a:hover::before {
  width: 70%; /* Expand the width to cover the text plus some padding */
}
