@import url(root.css);
@import url(fonts.css);

footer {
  margin-top: 25vw;
  width: 100vw;
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.3);
  padding: clamp(0.5rem, 7vw, 6.25rem);
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  width: fit-content; 
  margin-top: 10px;
  list-style: none;
  border-bottom: 2px solid var(--white-kaamulan-bg);
  transition: border-bottom 0.3s linear;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

footer ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--red-kaamulan-bg);
  transition: width 0.3s ease-in; 
  z-index: -1; 
}

footer ul li:hover::before {
  width: 100%;
}

footer h4 {
  font-weight: 300;
  line-height: 30px;
}

input {
  min-width: 100px;
  width: 100%;
  outline: transparent;
}

.footer-title-section {
  gap: 30px;
  padding-bottom: clamp(1.25rem , 7vw ,75px);
}

.footer-title {
  font-size: var(--px55-font-main-title);
  font-weight: 900;
}

.footer-button {
  background-color: var(--black-kaamulan-bg);
  color: #f4f4fa;
  border: 3px solid var(--white-kaamulan-bg);
}

.footer-middle-section {
  gap: 30px;
  padding-block: 2.8125rem;
  align-items: flex-start;
  padding-top: 45px;
  border-block: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-middle-section div {
  flex: 1 1 300px;
}

.left-div {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  gap: 30px;
}

.logo-footer {
  object-fit: contain;
  flex-wrap: 1 1 100%;
  width: 100px;
}

.logo-desc {
  flex-wrap: 1 1 100%;
  max-width: 20ch;
}

.footer-middle-div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.footer-middle-div div{
  flex: 1 1 100px;
}

.contact-footer p {
  margin-bottom: 0.4375em;
}

#first-li {
  margin-top: 1.25em;
}

#first-p {
  margin-top: 1em;
}

.right-div {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: start;
  align-items: flex-start;
}

.email-title {
  margin-bottom: 20px;
}

.footer-input-container {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  align-items: center;
  width: clamp(200px, 100%, 18.75rem);
  background-color: #4a4b52;
  padding: 10px;
  border-radius: 10px;
}

.footer-input-email {
  border: none;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  color: var(--white-kaamulan-bg);
}

.arrow-button {
  width: 30px;
}

.copyright-section {
  align-items: center;
  margin-top: 40px;
}