*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: inline-block;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #400;
}
