/* Landing Page First Section CSS */

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}

.landing-page-title {
  display: inline-block;
  font-size: 6.25rem;
  text-align: center;
  font-weight: 900;
  width: min-content;
}

.landing-page-desc {
  display: inline-block;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  line-height: 30px;
  width: 45ch;
}

.homepage-banner {
  margin-top: 50px;
}

/* Landing Page 2nd Section CSS */
.under-landing {
  width: 100vw;
  height: 902px;
  padding: 10.75rem 6.25rem;
  display: flex;
}

.part {
  flex: 1 1 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.p-desc {
  display: inline-block;
  width: 30ch;
  line-height: 30px;
  font-size: 1.375rem;
  font-weight: 300;
}

.first-section {
  background-color: #e87070;
}

.first-section-button {
  background-color: #faf4f4;
  color: #e87070;
}

.second-section-title,
.second-section-desc {
  color: #e87070;
}

.second-section-button {
  background-color: #292732;
  color: #faf4f4;
}

.third-section {
  background-color: #292732;
}

.third-section-title,
.third-section-desc {
  color: #faf4f4;
}

.third-section-button {
  background-color: #e87070;
  color: #292732;
}

